<div class="row" style="padding: 5px;">
	<div class="col-xs-12" style="padding: 0px;">
		<div class="alert alert-info" style="margin: 2px; text-align:center">
			<a ng-click="busquedaParadascercanas(1)">
				<div>
					<i class="glyphicon glyphicon-screenshot" style="font-size:18px"></i>
				</div>
				<div style="margin-top:10px">
					Paradas Cercanas
				</div>
			</a>
		</div>
	</div>
	<div class="col-xs-12" style="padding: 0px;">
		<div class="alert alert-info" style="margin: 2px; text-align:center">
			<a ng-href="#/busquedas/porcalle">
				<div>
					<i class="glyphicon glyphicon-search" style="font-size:18px"></i>
				</div>
				<div style="margin-top:10px">
					Por calle
				</div>
			</a>
		</div>
	</div>
	<div class="col-xs-12" style="padding: 0px;">
		<div class="alert alert-info" style="margin: 2px; text-align:center">
			<a ng-href="#/favoritos">
				<div>
					<i class="glyphicon glyphicon-heart" style="font-size:18px"></i>
				</div>
				<div style="margin-top:10px">
					Favoritos
				</div>
			</a>
		</div>
	</div>
</div>