<div class="panel panel-info">
	<div class="panel-heading">Paradas Cercanas: {{filtro.titulo}}</div>
	<div class="panel-body" ng-init="listarParadascercanas()">
		<div ng-repeat="parada in paradascercanas">
			<div class="panel panel-default" ng-click="seleccionarParada(parada)">
				<div class="panel-body">
					<b>Línea: {{parada.linea}}</b> | Nro. {{parada.numero}}
					<br>{{parada.ubicacion}}
					<br>Distancia: {{parada.distancia | number:2}} m
				</div>
			</div>
		</div>
	</div>
</div>
