<openlayers ol-center="center" ol-defaults="defaults" custom-layers="true" ol-view="view" ol-controls="controls" height="{{mapaHeight}}">
	<ol-layer ng-repeat="layer in layers" ol-layer-properties="layer"></ol-layer>
	<ol-marker ol-marker-properties="markerParada"></ol-marker>
	<ol-marker ng-repeat="marker in markersColectivo" ol-marker-properties="marker"></ol-marker>
	<ol-marker ol-marker-properties="markerMiPosicion"></ol-marker>
	<ol-marker ng-repeat="marker in markersTest" ol-marker-properties="marker"></ol-marker>
</openlayers>

<div style="float:right; position:absolute; right:10px; bottom:10px; z-index:10000;">
	<button class="btn btn-default" ng-click="ubicarMiPosicion()"><i class="glyphicon glyphicon-screenshot"></i></button>
</div>

<div style="float:left; position:absolute; left:5px; bottom:5px; z-index:10000;" ng-show="colectivo.costototal > 0">
	<div class="alert alert-success" role="alert">
		Parada: {{filtro.parada.ubicacion}}
		<br>Prox. colectivo: {{colectivo.tiempototal | number:2}} {{colectivo.tiempototalunidad}}.
		<br>Distancia: {{colectivo.costototal | number:2}} {{colectivo.costototalunidad}}.
	</div>
</div>